body 
{ 
 background-color:black;
 }
 #header
 {
  margin:10px 235px 10px ;
  background-color:white;
  border-radius:5px;
 }
 #symbols
 {
  margin-left:98px;
  
 }
 #numbers
 {
  margin-left:95px;
 }
 #uppercase
 {
  margin-left:92px;
 }
 #exclude
 {
  margin-left:14px;
 }
#similar
{
 margin-left:39px;
} 
#device
{
 margin-left:52px;
}
 #body
 {
  margin-left:300px;
  background-color:white;
  width:700px;
  height:700px;
  border-radius:5px;
 }
 #generate
 {
    margin-left:275px;
	height:30px;
	width:180px;
	background-color:ash;
	border-radius:5px;
 }
 #show
 {
  width:200px;
  height:30px;
  margin-left:275px;
  border-radius:5px;
 }
::placeholder
{
  color:green;
  opacity:1;
}	
.new
{
	margin-left:50px;
}
#text
{
	margin-left:50px;
}